In [1]:
import numpy as np
import pandas as pd
import string
#import xgboost as xgb
import io
import nltk
import matplotlib
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
from matplotlib import pyplot as plt
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, KFold
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
nltk.download('stopwords')
stopwords = stopwords.words('english')
stemmer = SnowballStemmer('english')

from textblob import TextBlob
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/matiascano/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/matiascano/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/matiascano/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/matiascano/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
sia = SentimentIntensityAnalyzer()
def return_sia_compound_values(text):
    return sia.polarity_scores(text)['compound']

In [ ]:
def remove_stopword(text):
    new_text = []
    for e in text:
        if e not in stopwords and e.isalpha():
            new_text.append(e)
    text = new_text
    return " ".join(new_text)

def stemm(text):
    text = [stemmer.stem(word) for word in text.split()]
    return " ".join(text)

def contains_punctuation(text):
    punctuation = set(string.punctuation)
    for character in text:
        if character in punctuation:
            return True
    return False

def amount_of_punctuation(text):
    punctuation = set(string.punctuation)
    amount = 0
    for character in text:
        if character in punctuation: amount += 1
    return amount

def get_adjectives(text):
    blob = TextBlob(text)
    return len([word for (word,tag) in blob.tags if tag.startswith("JJ")])

def get_nouns(text):
    blob = TextBlob(text)
    return len([word for (word,tag) in blob.tags if tag.startswith("NN")])

def get_verbs(text):
    blob = TextBlob(text)
    return len([word for (word,tag) in blob.tags if tag.startswith("VB")])

def get_adverbs(text):
    blob = TextBlob(text)
    return len([word for (word,tag) in blob.tags if tag.startswith("RB")])

In [7]:
tweets = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
tweets['keyword'] = tweets.keyword.str.replace('%20',' ')

In [8]:
tweets.drop_duplicates(subset = 'text', keep = False, inplace = True)
tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7434 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7434 non-null   int64
 1   keyword   7378 non-null   object
 2   location  4982 non-null   object
 3   text      7434 non-null   object
 4   target    7434 non-null   int64
dtypes: int64(2), object(3)
memory usage: 348.5+ KB

In [9]:
test['text'].duplicated().value_counts()

False    3243
True       20
Name: text, dtype: int64

### Feature Engineering

In [ ]:
tweets_metrics = tweets[['id','text','target']]
tweets_metrics['text_without_stopwords'] = tweets_metrics['text'].str.split()
tweets_metrics['text_without_stopwords'] = tweets_metrics['text_without_stopwords'].apply(remove_stopword)

tweets_metrics['length'] = tweets_metrics['text'].apply(lambda x: len(x))
tweets_metrics['avg_word_length'] = tweets_metrics['text'].str.split().apply(lambda x: [len(y) for y in x]).transform(lambda x: np.mean(x))
tweets_metrics['amount_of_words'] = tweets_metrics['text'].str.split().transform(lambda x: len(x))
unique_words_by_tweet = tweets_metrics['text'].transform(lambda x: x.split()).transform(lambda x: pd.Series(x).unique()).transform(lambda x: len(x))
tweets_metrics['amount_of_unique_words'] = unique_words_by_tweet
tweets_metrics['sentiment'] = tweets_metrics['text'].apply(lambda x: return_sia_compound_values(x))
tweets_metrics['stopwords_count'] = tweets_metrics['text'].apply(lambda x: len([word for word in str(x).lower().split() if word in stopwords]))
tweets_metrics['punctuation_count'] = tweets_metrics['text'].apply(lambda x: amount_of_punctuation(x))
mentions = tweets_metrics['text'].str.findall(r'@.\S*?(?=\s|[:]|$)').to_frame()
tweets_metrics['mentions_count'] = mentions['text'].apply(lambda x: len(x))
hashtags = tweets_metrics['text'].str.findall(r'#[^?\s].*?(?=\s|$)')
tweets_metrics['hashtags_count'] = hashtags.apply(lambda x: len(x))
tweets_metrics['longest_word_length_without_stopwords'] = tweets_metrics['text_without_stopwords'].apply(lambda x: ([len(word) for word in str(x).lower().split() if not word.startswith('http')])).apply(lambda x: max(x) if len(x) > 0 else 0)
tweets_metrics['stopword_word_ratio'] = tweets_metrics['stopwords_count'] / tweets_metrics['amount_of_words']

tweets_metrics['adjectives_count'] = tweets_metrics['text'].apply(get_adjectives)
tweets_metrics['nouns_count'] = tweets_metrics['text'].apply(get_nouns)
tweets_metrics['verbs_count'] = tweets_metrics['text'].apply(get_verbs)
tweets_metrics['adverbs_count'] = tweets_metrics['text'].apply(get_adverbs)

In [ ]:
tweets_metrics.to_csv('train_features.csv', index=False)

In [ ]:
test_metrics = test[['id','text']]
test_metrics['text_without_stopwords'] = test_metrics['text'].str.split()
test_metrics['text_without_stopwords'] = test_metrics['text_without_stopwords'].apply(remove_stopword)

test_metrics['length'] = test_metrics['text'].apply(lambda x: len(x))
test_metrics['avg_word_length'] = test_metrics['text'].str.split().apply(lambda x: [len(y) for y in x]).transform(lambda x: np.mean(x))
test_metrics['amount_of_words'] = test_metrics['text'].str.split().transform(lambda x: len(x))
unique_words_by_tweet = test_metrics['text'].transform(lambda x: x.split()).transform(lambda x: pd.Series(x).unique()).transform(lambda x: len(x))
test_metrics['amount_of_unique_words'] = unique_words_by_tweet
test_metrics['sentiment'] = test_metrics['text'].apply(lambda x: return_sia_compound_values(x))
test_metrics['stopwords_count'] = test_metrics['text'].apply(lambda x: len([word for word in str(x).lower().split() if word in stopwords]))
test_metrics['punctuation_count'] = test_metrics['text'].apply(lambda x: amount_of_punctuation(x))
mentions = test_metrics['text'].str.findall(r'@.\S*?(?=\s|[:]|$)').to_frame()
test_metrics['mentions_count'] = mentions['text'].apply(lambda x: len(x))
hashtags = test_metrics['text'].str.findall(r'#[^?\s].*?(?=\s|$)')
test_metrics['hashtags_count'] = hashtags.apply(lambda x: len(x))
test_metrics['longest_word_length_without_stopwords'] = test_metrics['text_without_stopwords'].apply(lambda x: ([len(word) for word in str(x).lower().split() if not word.startswith('http')])).apply(lambda x: max(x) if len(x) > 0 else 0)
test_metrics['stopword_word_ratio'] = test_metrics['stopwords_count'] / test_metrics['amount_of_words']

test_metrics['adjectives_count'] = test_metrics['text'].apply(get_adjectives)
test_metrics['nouns_count'] = test_metrics['text'].apply(get_nouns)
test_metrics['verbs_count'] = test_metrics['text'].apply(get_verbs)
test_metrics['adverbs_count'] = test_metrics['text'].apply(get_adverbs)

In [ ]:
test.to_csv('test_features.csv', index=False)

### Word2Vec

#### Keywords

In [ ]:
tweets['keyword'] = tweets['keyword'].fillna('NULL')
test['keyword'] = test['keyword'].fillna('NULL')

In [ ]:
keywords = tweets[['keyword', 'id']]
keywords.head()

In [ ]:
keyword_tokens = keywords.keyword.unique().tolist()

In [ ]:
keyword_tokens[0]

In [ ]:
len(keyword_tokens)

In [ ]:
from gensim.models import Word2Vec

# Parameters
# sg ({0, 1}, optional) - Training algorithm: 1 for skip-gram; otherwise CBOW.

keyword_vectors = Word2Vec([keyword_tokens], min_count=1, size= 100, workers=3, window =3, sg=1)

In [ ]:
# Sanity check
keyword_vectors['ablaze']

In [ ]:
to_vector_matrix = {}

for k in keyword_tokens:
    to_vector_matrix[k] = keyword_vectors[k]

In [ ]:
keyword_w2v = pd.DataFrame.from_dict(to_vector_matrix).T.reset_index()
keyword_w2v

In [ ]:
aux = []
aux.append('keyword')
for i in range (0, 100):
    name = 'v' + str(i)
    aux.append(name)
len(aux)

In [ ]:
keyword_w2v.columns = aux

In [ ]:
keyword_w2v.head()

In [ ]:
keyword_w2v.to_csv('keyword_features.csv', index=False)

#### Locations

In [19]:
locations = pd.read_csv("../TP1/locations.csv", usecols=['location', 'address'])

In [20]:
locations.head()

                 location                                            address
0                                                                        NaN
1                glasgow   Glasgow, Glasgow City, Scotland, G2 9SA, Unite...
2    melbourne, australia             City of Melbourne, Victoria, Australia
3                    news  34375, Abbotsford Centre, Abbotsford, Fraser V...
4                 alberta                                    Alberta, Canada

In [21]:
locations.loc[0, 'location'] = 'NULL'

In [22]:
locations

,location,address
0,NULL,NaN
1,glasgow,"Glasgow, Glasgow City, Scotland, G2 9SA, Unite..."
2,"melbourne, australia","City of Melbourne, Victoria, Australia"
3,news,"34375, Abbotsford Centre, Abbotsford, Fraser V..."
4,alberta,"Alberta, Canada"
...,...,...
2266,zac newsome loves me,NaN
2267,"zeerust, south africa","Zeerust, Ngaka Modiri Molema District Municipa..."
2268,zero branco,"Zero Branco, Treviso, Veneto, 31059, Italia"
2269,ziam af,NaN
2270,zimbabwe,Zimbabwe

In [23]:
for_location = tweets[['id', 'location']]

In [24]:
for_location['location'] = for_location['location'].map(lambda x: x if x is np.nan else x.lower())

/Users/matiascano/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
for_location.fillna("NULL", inplace = True)

/Users/matiascano/.pyenv/versions/3.7.7/lib/python3.7/site-packages/pandas/core/frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [26]:
import re 
for_location['location'] = for_location['location'].map(lambda x: x if re.match(r'^([a-zA-Z,\s])*$', x) else 'NULL')

/Users/matiascano/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
to_vectorize = for_location.merge(locations).loc[:, ['id', 'address']]

In [39]:
to_vectorize.fillna('NULL', inplace=True)

In [40]:
to_vectorize['address'] = to_vectorize['address'].str.replace('\d+', '') # No le gustan los numeros

In [82]:
to_vectorize.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7433 entries, 0 to 7432
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       7433 non-null   int64
 1   address  7433 non-null   object
dtypes: int64(1), object(1)
memory usage: 174.2+ KB

In [43]:
from tensorflow import keras
from keras.preprocessing.text import Tokenizer

t = Tokenizer()
t.fit_on_texts(to_vectorize['address'])
vocab_size = len(t.word_index) + 1

In [67]:
t.word_index

{'null': 1,
 'united': 2,
 'of': 3,
 'states': 4,
 'america': 5,
 'county': 6,
 'england': 7,
 'kingdom': 8,
 'new': 9,
 'york': 10,
 'canada': 11,
 'california': 12,
 'london': 13,
 'city': 14,
 'north': 15,
 'west': 16,
 'south': 17,
 'texas': 18,
 'greater': 19,
 'district': 20,
 'de': 21,
 'san': 22,
 'australia': 23,
 'los': 24,
 'angeles': 25,
 'east': 26,
 'india': 27,
 'florida': 28,
 'washington': 29,
 'ontario': 30,
 'and': 31,
 'columbia': 32,
 'carolina': 33,
 'swa': 34,
 'dx': 35,
 'the': 36,
 'francisco': 37,
 'illinois': 38,
 'del': 39,
 'santo': 40,
 'domingo': 41,
 'nigeria': 42,
 'midlands': 43,
 'france': 44,
 'georgia': 45,
 'mumbai': 46,
 'pennsylvania': 47,
 'street': 48,
 'road': 49,
 'colorado': 50,
 'jersey': 51,
 'wellington': 52,
 'park': 53,
 'golden': 54,
 'horseshoe': 55,
 'manchester': 56,
 'ohio': 57,
 'tennessee': 58,
 'buenos': 59,
 'aires': 60,
 'cook': 61,
 'oklahoma': 62,
 'massachusetts': 63,
 'chicago': 64,
 'british': 65,
 'kenya': 66,
 'virginia': 67,
 'victoria': 68,
 'regional': 69,
 'philippines': 70,
 'região': 71,
 'central': 72,
 'denver': 73,
 'africa': 74,
 'alberta': 75,
 'toronto': 76,
 'avenue': 77,
 'vancouver': 78,
 'wales': 79,
 'yorkshire': 80,
 'oregon': 81,
 'maharashtra': 82,
 'italia': 83,
 'distrito': 84,
 'scotland': 85,
 'metro': 86,
 'region': 87,
 'república': 88,
 'dominicana': 89,
 'maryland': 90,
 'este': 91,
 'michigan': 92,
 'diego': 93,
 'arizona': 94,
 'sacramento': 95,
 'worldwide': 96,
 'calle': 97,
 'guzmán': 98,
 'nacional': 99,
 'atlanta': 100,
 'king': 101,
 'davidson': 102,
 'indonesia': 103,
 'vientos': 104,
 'mirador': 105,
 'dallas': 106,
 'ireland': 107,
 'island': 108,
 'lagos': 109,
 'philadelphia': 110,
 'santa': 111,
 'fulton': 112,
 'world': 113,
 'lake': 114,
 'orange': 115,
 'la': 116,
 'seattle': 117,
 'zealand': 118,
 'municipality': 119,
 'n': 120,
 'nederland': 121,
 'भारत': 122,
 'vaudreuil': 123,
 'suffolk': 124,
 'métropolitaine': 125,
 'wisconsin': 126,
 'earth': 127,
 'township': 128,
 'area': 129,
 'calgary': 130,
 'پاکستان': 131,
 'humber': 132,
 'românia': 133,
 'orlando': 134,
 'sydney': 135,
 'saint': 136,
 'tyne': 137,
 'combined': 138,
 'authority': 139,
 'brasil': 140,
 'clark': 141,
 'nevada': 142,
 'town': 143,
 'rio': 144,
 'everywhere': 145,
 'harris': 146,
 'cape': 147,
 'capital': 148,
 'don': 149,
 'charlotte': 150,
 'beach': 151,
 'bangalore': 152,
 'miami': 153,
 'janeiro': 154,
 'narrow': 155,
 'path': 156,
 'thorn': 157,
 'sântelec': 158,
 'bihor': 159,
 'queensland': 160,
 'western': 161,
 'indiana': 162,
 'valley': 163,
 'm': 164,
 'port': 165,
 'houston': 166,
 'manila': 167,
 'council': 168,
 'nova': 169,
 'clara': 170,
 'mh': 171,
 'argentina': 172,
 'melbourne': 173,
 'delhi': 174,
 'boulevard': 175,
 'kings': 176,
 'glasgow': 177,
 'missouri': 178,
 'scotia': 179,
 'alabama': 180,
 'do': 181,
 'kansas': 182,
 'metropolitan': 183,
 'geográfica': 184,
 'louisiana': 185,
 'québec': 186,
 'españa': 187,
 'austin': 188,
 '日本': 189,
 'montgomery': 190,
 'sa': 191,
 '中国': 192,
 'nashville': 193,
 'deutschland': 194,
 'hampshire': 195,
 'c': 196,
 'mecklenburg': 197,
 'parish': 198,
 'maricopa': 199,
 'travis': 200,
 'airport': 201,
 'brooklyn': 202,
 'e': 203,
 'a': 204,
 'roma': 205,
 'birmingham': 206,
 'cymru': 207,
 'lamb': 208,
 'portland': 209,
 'mitchelltown': 210,
 'te': 211,
 'aro': 212,
 'dublin': 213,
 'hong': 214,
 'kong': 215,
 'borough': 216,
 'el': 217,
 'são': 218,
 'paulo': 219,
 'metropolitana': 220,
 'joseph': 221,
 'montérégie': 222,
 'jackson': 223,
 'boston': 224,
 'bay': 225,
 'connecticut': 226,
 'norge': 227,
 'drive': 228,
 'fort': 229,
 'international': 230,
 'iowa': 231,
 'lane': 232,
 'newcastle': 233,
 'thornton': 234,
 'madison': 235,
 'hillsborough': 236,
 'nairobi': 237,
 'laflèche': 238,
 'terrasse': 239,
 'pincourt': 240,
 'soulanges': 241,
 'jv': 242,
 'hamilton': 243,
 'shelby': 244,
 'manhattan': 245,
 'st': 246,
 'adelaide': 247,
 'multnomah': 248,
 'th': 249,
 'praha': 250,
 'roskilde': 251,
 'hawaii': 252,
 'puerto': 253,
 'village': 254,
 'chester': 255,
 'winnipeg': 256,
 'ncr': 257,
 'intermediária': 258,
 'arlington': 259,
 'tarrant': 260,
 'eastern': 261,
 'urban': 262,
 'karnataka': 263,
 'orleans': 264,
 'middlesex': 265,
 'kentucky': 266,
 'oakland': 267,
 'las': 268,
 'japan': 269,
 'g': 270,
 'great': 271,
 'britain': 272,
 'cuyahoga': 273,
 'johannesburg': 274,
 'wayne': 275,
 'jefferson': 276,
 'lincoln': 277,
 'b': 278,
 'rico': 279,
 'richmond': 280,
 'upon': 281,
 'wear': 282,
 'gauteng': 283,
 'territory': 284,
 'global': 285,
 'creek': 286,
 'southern': 287,
 'vegas': 288,
 'coast': 289,
 'memphis': 290,
 'spokane': 291,
 'milwaukee': 292,
 'sassari': 293,
 'sardegna': 294,
 'richmondshire': 295,
 'jose': 296,
 'méxico': 297,
 'northern': 298,
 'heights': 299,
 'danmark': 300,
 'capitale': 301,
 'leeds': 302,
 'tulsa': 303,
 'sverige': 304,
 'lunenburg': 305,
 'wyoming': 306,
 'paris': 307,
 'ክልል': 308,
 'ethiopia': 309,
 'accra': 310,
 'imediata': 311,
 'sudeste': 312,
 'barber': 313,
 'greene': 314,
 'mills': 315,
 'mc': 316,
 'durham': 317,
 'ڪراچي': 318,
 'karachi': 319,
 'karāchi': 320,
 'سنڌ': 321,
 'university': 322,
 'phoenix': 323,
 'grove': 324,
 'ciudad': 325,
 'erie': 326,
 'et': 327,
 'suomi': 328,
 'kent': 329,
 'dade': 330,
 'state': 331,
 'prince': 332,
 'kommune': 333,
 'leinster': 334,
 'china': 335,
 'calabarzon': 336,
 'île': 337,
 'centre': 338,
 'lisboa': 339,
 'halifax': 340,
 'forest': 341,
 'hill': 342,
 'singapore': 343,
 'województwo': 344,
 'polska': 345,
 'house': 346,
 'emirates': 347,
 'portugal': 348,
 'essex': 349,
 'arkansas': 350,
 'columbus': 351,
 'franklin': 352,
 'fresno': 353,
 'camden': 354,
 'du': 355,
 'alpes': 356,
 'queens': 357,
 'cleveland': 358,
 'honolulu': 359,
 'malaysia': 360,
 'dakota': 361,
 'bronx': 362,
 'hertfordshire': 363,
 'highlands': 364,
 'somewhere': 365,
 'college': 366,
 'squamish': 367,
 'mount': 368,
 'barcelona': 369,
 'tampa': 370,
 'harcourt': 371,
 'alaska': 372,
 'jawa': 373,
 'way': 374,
 'utah': 375,
 'palo': 376,
 'alto': 377,
 'jaipur': 378,
 'ישראל': 379,
 'holland': 380,
 'دبي': 381,
 'arab': 382,
 'nebraska': 383,
 'lancaster': 384,
 'richland': 385,
 'peru': 386,
 'springs': 387,
 'hills': 388,
 'allegheny': 389,
 'baltimore': 390,
 'maine': 391,
 'detroit': 392,
 'le': 393,
 'minnesota': 394,
 '香港島': 395,
 '香港': 396,
 'montana': 397,
 'brisbane': 398,
 'jamaika': 399,
 'planet': 400,
 'sarjapura': 401,
 'gunjur': 402,
 'hosahalli': 403,
 'ambedkar': 404,
 'nagara': 405,
 'no': 406,
 'bristol': 407,
 'i': 408,
 'coventry': 409,
 'cavite': 410,
 'venezuela': 411,
 'fourth': 412,
 'municipal': 413,
 'baton': 414,
 'rouge': 415,
 'tehsil': 416,
 'mexico': 417,
 'court': 418,
 'mississippi': 419,
 'mercer': 420,
 'comuna': 421,
 'buffalo': 422,
 '東京都': 423,
 'riverside': 424,
 'ירושלים': 425,
 'kingston': 426,
 'wake': 427,
 'costa': 428,
 'monroe': 429,
 'nam': 430,
 'okres': 431,
 'hlavní': 432,
 'město': 433,
 'česká': 434,
 'republika': 435,
 'ya': 436,
 'greenville': 437,
 'roanoke': 438,
 'midwest': 439,
 'kommun': 440,
 'län': 441,
 'stockholms': 442,
 'россия': 443,
 'madrid': 444,
 'somerset': 445,
 'switzerland': 446,
 'lillooet': 447,
 'catalunya': 448,
 'ປະເທດລາວ': 449,
 'paterson': 450,
 'passaic': 451,
 'union': 452,
 'cheshire': 453,
 'ประเทศไทย': 454,
 'municipio': 455,
 'idaho': 456,
 'asia': 457,
 'ঢাকা': 458,
 'dane': 459,
 'manitoba': 460,
 'bona': 461,
 'qabelanka': 462,
 'sidama': 463,
 'ደቡብ': 464,
 'ብሔሮች': 465,
 'ብሔረሰቦችና': 466,
 'ሕዝቦች': 467,
 'nations': 468,
 'nationalities': 469,
 'peoples': 470,
 'dundee': 471,
 'gambier': 472,
 'palm': 473,
 'guilford': 474,
 'hanover': 475,
 'old': 476,
 'alameda': 477,
 'autónoma': 478,
 'field': 479,
 'southeast': 480,
 'brighton': 481,
 'al': 482,
 'community': 483,
 't': 484,
 'zone': 485,
 'ag': 486,
 'northwest': 487,
 'highway': 488,
 'raleigh': 489,
 'gotham': 490,
 'first': 491,
 'ghana': 492,
 'việt': 493,
 'j': 494,
 'australian': 495,
 'lawrence': 496,
 'leicester': 497,
 'bl': 498,
 'polk': 499,
 'orocovis': 500,
 'pittsburgh': 501,
 'norfolk': 502,
 'colombia': 503,
 'natrona': 504,
 'svealand': 505,
 'округ': 506,
 'namsos': 507,
 'trøndelag': 508,
 'área': 509,
 'saskatchewan': 510,
 'charleston': 511,
 'پنجاب': 512,
 'arrondissement': 513,
 'ab': 514,
 'genève': 515,
 'nottingham': 516,
 'grande': 517,
 'chile': 518,
 'ng': 519,
 'sarasota': 520,
 'paso': 521,
 'word': 522,
 'god': 523,
 'patindig': 524,
 'araw': 525,
 'treelane': 526,
 'iii': 527,
 'subd': 528,
 'bayan': 529,
 'luma': 530,
 'viii': 531,
 'imus': 532,
 'bend': 533,
 'región': 534,
 'asheville': 535,
 'buncombe': 536,
 'place': 537,
 'muntinlupa': 538,
 'nr': 539,
 'greensboro': 540,
 'barbados': 541,
 'federal': 542,
 'wilmington': 543,
 'belgië': 544,
 'belgique': 545,
 'belgien': 546,
 'y': 547,
 'salt': 548,
 'rajasthan': 549,
 'eagle': 550,
 'pass': 551,
 'ridge': 552,
 'noord': 553,
 'vermont': 554,
 'subconscious': 555,
 'wisteria': 556,
 'pergola': 557,
 'chewalla': 558,
 'rock': 559,
 'republic': 560,
 'llano': 561,
 'aan': 562,
 'here': 563,
 'seutukunta': 564,
 'manner': 565,
 'bu': 566,
 'hollywood': 567,
 'chatham': 568,
 'southwestern': 569,
 'campinas': 570,
 'board': 571,
 'מחוז': 572,
 'limburg': 573,
 'атбасар': 574,
 'район': 575,
 'hudson': 576,
 'delaware': 577,
 'oxford': 578,
 'magyarország': 579,
 'worth': 580,
 'river': 581,
 'william': 582,
 'pradesh': 583,
 'alacant': 584,
 'alicante': 585,
 'ottawa': 586,
 'kp': 587,
 's': 588,
 'canberra': 589,
 'volusia': 590,
 'paul': 591,
 'surrey': 592,
 'paignton': 593,
 'tq': 594,
 'your': 595,
 'long': 596,
 'السعودية': 597,
 'knoxville': 598,
 'des': 599,
 'moines': 600,
 'hettinger': 601,
 '環球大廈': 602,
 'wide': 603,
 '中環': 604,
 '西環': 605,
 'sai': 606,
 'wan': 607,
 '中西區': 608,
 'lee': 609,
 'ca': 610,
 'santiago': 611,
 'school': 612,
 'jamaica': 613,
 'spanish': 614,
 'catherine': 615,
 'shore': 616,
 'bs': 617,
 'fairfield': 618,
 'liverpool': 619,
 'boulder': 620,
 'brunswick': 621,
 'україна': 622,
 'федеральный': 623,
 'kolkata': 624,
 'bengal': 625,
 'broward': 626,
 'henderson': 627,
 'perth': 628,
 'jodhpur': 629,
 'burlington': 630,
 'dekalb': 631,
 'dl': 632,
 'آباد': 633,
 'southwest': 634,
 'garden': 635,
 'lower': 636,
 'allen': 637,
 'hartford': 638,
 'mk': 639,
 'af': 640,
 'news': 641,
 'high': 642,
 'warri': 643,
 'avenida': 644,
 'lima': 645,
 'rivers': 646,
 'heath': 647,
 'الرياض': 648,
 'anchorage': 649,
 'pueblo': 650,
 'h': 651,
 'timur': 652,
 'partido': 653,
 'i̇stanbul': 654,
 'bakersfield': 655,
 'kern': 656,
 'davao': 657,
 'around': 658,
 'ch': 659,
 'haiti': 660,
 'dupage': 661,
 'louis': 662,
 'lubbock': 663,
 'cochrane': 664,
 'olympia': 665,
 'thurston': 666,
 'auckland': 667,
 'glendale': 668,
 'gold': 669,
 'deschutes': 670,
 'yellowknife': 671,
 'moncton': 672,
 'haddonfield': 673,
 'niagara': 674,
 'barat': 675,
 'nassau': 676,
 'livingston': 677,
 'hp': 678,
 'huntsville': 679,
 'bern': 680,
 'end': 681,
 'collin': 682,
 'pune': 683,
 'tiranë': 684,
 'shqipëria': 685,
 'en': 686,
 'mill': 687,
 'w': 688,
 'aurora': 689,
 'provincia': 690,
 'valparaíso': 691,
 'الصومال': 692,
 'bokaro': 693,
 'tshwane': 694,
 'abuja': 695,
 'telangana': 696,
 'bengaluru': 697,
 'northeast': 698,
 'kerala': 699,
 'silver': 700,
 'jz': 701,
 'panamá': 702,
 'elk': 703,
 'shire': 704,
 'zuid': 705,
 'view': 706,
 'there': 707,
 'helsinki': 708,
 'helsingin': 709,
 'uusimaa': 710,
 'plac': 711,
 'warszawa': 712,
 'mazowieckie': 713,
 'خیبر': 714,
 'پښتونخوا': 715,
 'winnebago': 716,
 'horst': 717,
 'maas': 718,
 'forsyth': 719,
 'tucson': 720,
 'pima': 721,
 'dayton': 722,
 'ward': 723,
 'область': 724,
 'away': 725,
 'alachua': 726,
 'benton': 727,
 'spring': 728,
 'itunes': 729,
 'lambrama': 730,
 'abancay': 731,
 'apurímac': 732,
 'lafayette': 733,
 'jacksonville': 734,
 'duval': 735,
 'mountain': 736,
 'meridian': 737,
 'desert': 738,
 'contra': 739,
 'mobile': 740,
 'rockford': 741,
 'indian': 742,
 'les': 743,
 'maritimes': 744,
 'provence': 745,
 'côte': 746,
 "d'azur": 747,
 'sandy': 748,
 'comunitat': 749,
 'valenciana': 750,
 'nh': 751,
 'jugoslávských': 752,
 'partyzánů': 753,
 'hendlův': 754,
 'dvůr': 755,
 'dejvice': 756,
 'htx': 757,
 'pulsen': 758,
 'musicon': 759,
 'syd': 760,
 'sjælland': 761,
 'westchester': 762,
 'canterbury': 763,
 'cruz': 764,
 'vista': 765,
 'ronkonkoma': 766,
 'منطقة': 767,
 'saudi': 768,
 'arabia': 769,
 'knox': 770,
 'butler': 771,
 'lh': 772,
 'sul': 773,
 'centro': 774,
 'edward': 775,
 'home': 776,
 'auburn': 777,
 'merrimack': 778,
 'di': 779,
 'cherry': 780,
 'hampton': 781,
 'square': 782,
 'paradise': 783,
 'queen': 784,
 'annapolis': 785,
 'atlantic': 786,
 'heaven': 787,
 'centrum': 788,
 'stockholm': 789,
 'oaks': 790,
 'inexpressible': 791,
 'delta': 792,
 'littleton': 793,
 'москва': 794,
 'центральный': 795,
 'by': 796,
 'sea': 797,
 'europa': 798,
 'ventura': 799,
 'islands': 800,
 'grand': 801,
 'চট্টগ্রাম': 802,
 'জেলা': 803,
 'বিভাগ': 804,
 'bangladesh': 805,
 'rue': 806,
 'far': 807,
 'at': 808,
 'national': 809,
 'leesburg': 810,
 'online': 811,
 'occitanie': 812,
 'peel': 813,
 'kololo': 814,
 'aberdeenshire': 815,
 'lp': 816,
 'falls': 817,
 'cornwall': 818,
 'unknown': 819,
 'ሶማሌ': 820,
 'somali': 821,
 'snohomish': 822,
 'over': 823,
 'munster': 824,
 'v': 825,
 'junction': 826,
 'stand': 827,
 'milton': 828,
 'keynes': 829,
 'nord': 830,
 'census': 831,
 'division': 832,
 'berlin': 833,
 'croydon': 834,
 'cr': 835,
 'station': 836,
 'uttar': 837,
 'clayton': 838,
 'dorset': 839,
 'se': 840,
 'alexandria': 841,
 'tamil': 842,
 'nadu': 843,
 'center': 844,
 'minneapolis': 845,
 'hennepin': 846,
 'sk': 847,
 'hampden': 848,
 'montréal': 849,
 'boise': 850,
 'ada': 851,
 'my': 852,
 'cuttack': 853,
 'whistler': 854,
 'olympic': 855,
 'departamento': 856,
 'bournemouth': 857,
 'bh': 858,
 'δήμος': 859,
 'περιφερειακή': 860,
 'ενότητα': 861,
 'ελλάδα': 862,
 'naperville': 863,
 'ibadan': 864,
 'macon': 865,
 'bibb': 866,
 'da': 867,
 'fe': 868,
 'بيروت': 869,
 'pershore': 870,
 'druids': 871,
 'quartier': 872,
 'barcelonès': 873,
 'indianapolis': 874,
 'marion': 875,
 'limerick': 876,
 'muskoka': 877,
 'rochester': 878,
 '대한민국': 879,
 'wa': 880,
 'anderson': 881,
 'wood': 882,
 'tree': 883,
 'parroquia': 884,
 'brentwood': 885,
 'rhône': 886,
 'louisville': 887,
 'oxfordshire': 888,
 'hell': 889,
 'putnam': 890,
 'manaus': 891,
 'lancashire': 892,
 'na': 893,
 'fortaleza': 894,
 'westminster': 895,
 'tunasan': 896,
 'sand': 897,
 'mountains': 898,
 'gammel': 899,
 'srinagar': 900,
 'plano': 901,
 'cedar': 902,
 'dd': 903,
 'circle': 904,
 'daerah': 905,
 'khusus': 906,
 'ibukota': 907,
 'jakarta': 908,
 'sw': 909,
 'haysville': 910,
 'sedgwick': 911,
 'stone': 912,
 'greenwich': 913,
 'kraj': 914,
 'narni': 915,
 'terni': 916,
 'umbria': 917,
 'porto': 918,
 'alegre': 919,
 'uppsala': 920,
 'fountain': 921,
 'sandusky': 922,
 'rica': 923,
 'swift': 924,
 'perry': 925,
 'taylor': 926,
 'cork': 927,
 'bruxelles': 928,
 'pretoria': 929,
 'milky': 930,
 'lorain': 931,
 'anaheim': 932,
 'concord': 933,
 'neuss': 934,
 'kreis': 935,
 'nordrhein': 936,
 'westfalen': 937,
 'coastal': 938,
 'ދިވެހިރާއްޖެ': 939,
 'gloucestershire': 940,
 'schweiz': 941,
 'suisse': 942,
 'svizzera': 943,
 'svizra': 944,
 'baker': 945,
 'marysville': 946,
 'kh': 947,
 'hyderabad': 948,
 'lehigh': 949,
 'manor': 950,
 'hinds': 951,
 'cambridge': 952,
 'amsterdam': 953,
 'swindon': 954,
 'sn': 955,
 'larimer': 956,
 'fayette': 957,
 'hannover': 958,
 'playa': 959,
 'cuba': 960,
 'ljubljana': 961,
 'pierce': 962,
 'malawi': 963,
 'albuquerque': 964,
 'bernalillo': 965,
 'addison': 966,
 'hotel': 967,
 'middle': 968,
 'hove': 969,
 'bolivar': 970,
 'κύπρος': 971,
 'kıbrıs': 972,
 'studio': 973,
 'branco': 974,
 'veneto': 975,
 'eldoret': 976,
 'uasin': 977,
 'gishu': 978,
 'salem': 979,
 'location': 980,
 'tucker': 981,
 'halton': 982,
 'аэропорт': 983,
 'атбасарский': 984,
 'акмолинская': 985,
 'kazakhstan': 986,
 'پېښور': 987,
 'peshāwar': 988,
 'pinellas': 989,
 'arundel': 990,
 'sussex': 991,
 'maria': 992,
 'terrace': 993,
 'loughton': 994,
 'ig': 995,
 'wrexham': 996,
 'll': 997,
 'freeport': 998,
 'danville': 999,
 'castle': 1000,
 ...}

In [46]:
# integer encode the documents
encoded_docs = t.texts_to_sequences(to_vectorize['address'])

In [68]:
from keras.preprocessing.sequence import pad_sequences

max_length = 5
padded_docs = pad_sequences(encoded_docs, maxlen=max_length, padding='post')
print(padded_docs)

[[ 1  0  0  0  0]
 [ 1  0  0  0  0]
 [ 1  0  0  0  0]
 ...
 [69 20 65 32 11]
 [ 7 34 35  2  8]
 [29  2  4  3  5]]

In [64]:
embeddings_index = dict()
f = open('glove.6B.100d.txt')
for line in f:
    values = line.split()
    word = values[0]
    coefs = np.asarray(values[1:], dtype='float32')
    embeddings_index[word] = coefs
f.close()
print('Loaded %s word vectors.' % len(embeddings_index))

Loaded 400001 word vectors.

In [70]:
embedding_matrix = np.zeros((vocab_size, 100))
for word, i in t.word_index.items():
    embedding_vector = embeddings_index.get(word)
    if embedding_vector is not None:
        embedding_matrix[i] = embedding_vector