In [1]:
import numpy as np
import pandas as pd
import string
#import xgboost as xgb
import io
import nltk
import matplotlib
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
from matplotlib import pyplot as plt
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, KFold
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
nltk.download('stopwords')
stopwords = stopwords.words('english')
stemmer = SnowballStemmer('english')

from textblob import TextBlob
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
pd.set_option('mode.chained_assignment', None)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/matiascano/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/matiascano/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/matiascano/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/matiascano/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

### Datasets

In [2]:
tweets = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
tweets['keyword'] = tweets.keyword.str.replace('%20',' ')
test['keyword'] = test.keyword.str.replace('%20',' ')

In [3]:
tweets.drop_duplicates(subset = 'text', keep = False, inplace = True)
tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7434 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7434 non-null   int64
 1   keyword   7378 non-null   object
 2   location  4982 non-null   object
 3   text      7434 non-null   object
 4   target    7434 non-null   int64
dtypes: int64(2), object(3)
memory usage: 348.5+ KB

In [4]:
test['text'].duplicated().value_counts()

False    3243
True       20
Name: text, dtype: int64

### Extra Features

In [5]:
sia = SentimentIntensityAnalyzer()
def return_sia_compound_values(text):
    return sia.polarity_scores(text)['compound']

def remove_stopword(text):
    new_text = []
    for e in text:
        if e not in stopwords and e.isalpha():
            new_text.append(e)
    text = new_text
    return " ".join(new_text)

def stemm(text):
    text = [stemmer.stem(word) for word in text.split()]
    return " ".join(text)

def contains_punctuation(text):
    punctuation = set(string.punctuation)
    for character in text:
        if character in punctuation:
            return True
    return False

def amount_of_punctuation(text):
    punctuation = set(string.punctuation)
    amount = 0
    for character in text:
        if character in punctuation: amount += 1
    return amount

def get_adjectives(text):
    blob = TextBlob(text)
    return len([word for (word,tag) in blob.tags if tag.startswith("JJ")])

def get_nouns(text):
    blob = TextBlob(text)
    return len([word for (word,tag) in blob.tags if tag.startswith("NN")])

def get_verbs(text):
    blob = TextBlob(text)
    return len([word for (word,tag) in blob.tags if tag.startswith("VB")])

def get_adverbs(text):
    blob = TextBlob(text)
    return len([word for (word,tag) in blob.tags if tag.startswith("RB")])

In [6]:
def get_metrics(df):
    tweets_metrics = df[['id','text']]
    tweets_metrics['text_without_stopwords'] = tweets_metrics['text'].str.split()
    tweets_metrics['text_without_stopwords'] = tweets_metrics['text_without_stopwords'].apply(remove_stopword)
    tweets_metrics['length'] = tweets_metrics['text'].apply(lambda x: len(x))
    tweets_metrics['avg_word_length'] = tweets_metrics['text'].str.split().apply(lambda x: [len(y) for y in x]).transform(lambda x: np.mean(x))
    tweets_metrics['amount_of_words'] = tweets_metrics['text'].str.split().transform(lambda x: len(x))
    unique_words_by_tweet = tweets_metrics['text'].transform(lambda x: x.split()).transform(lambda x: pd.Series(x).unique()).transform(lambda x: len(x))
    tweets_metrics['amount_of_unique_words'] = unique_words_by_tweet
    tweets_metrics['sentiment'] = tweets_metrics['text'].apply(lambda x: return_sia_compound_values(x))
    tweets_metrics['stopwords_count'] = tweets_metrics['text'].apply(lambda x: len([word for word in str(x).lower().split() if word in stopwords]))
    tweets_metrics['punctuation_count'] = tweets_metrics['text'].apply(lambda x: amount_of_punctuation(x))
    mentions = tweets_metrics['text'].str.findall(r'@.\S*?(?=\s|[:]|$)').to_frame()
    tweets_metrics['mentions_count'] = mentions['text'].apply(lambda x: len(x))
    hashtags = tweets_metrics['text'].str.findall(r'#[^?\s].*?(?=\s|$)')
    tweets_metrics['hashtags_count'] = hashtags.apply(lambda x: len(x))
    tweets_metrics['longest_word_length_without_stopwords'] = tweets_metrics['text_without_stopwords'].apply(lambda x: ([len(word) for word in str(x).lower().split() if not word.startswith('http')])).apply(lambda x: max(x) if len(x) > 0 else 0)
    tweets_metrics['stopword_word_ratio'] = tweets_metrics['stopwords_count'] / tweets_metrics['amount_of_words']
    tweets_metrics['adjectives_count'] = tweets_metrics['text'].apply(get_adjectives)
    tweets_metrics['nouns_count'] = tweets_metrics['text'].apply(get_nouns)
    tweets_metrics['verbs_count'] = tweets_metrics['text'].apply(get_verbs)
    tweets_metrics['adverbs_count'] = tweets_metrics['text'].apply(get_adverbs)
    return tweets_metrics

In [7]:
train_metrics = get_metrics(tweets)

In [8]:
test_metrics = get_metrics(test)

In [9]:
# Run for files
#train_metrics.to_csv('train_features.csv', index=False)
#test_metrics.to_csv('test_features.csv', index=False)

### Text preprocessing

In [10]:
# Mocks real tokenizer used in glove
import re

def tokenize_input(input_text):
    to_tokens = input_text[:]
    token_specification = [
        ('url', r'https?:\/\/\S+\b|www\.(\w+\.)+\S*'),
        (' / ', r'/'),
        ('user', r'@\w+'),            
        ('smile', r'[8:=;][)d]+|[)d]+[\'`\-]?[8:=;]'),    
        ('lolface', r'[8:=;][\'`\-]?p'),      
        ('sadface', r'[8:=;][\'`\-]?\(|\)+[8:=;][\'`\-]?'),          
        ('neutralface', r'[8:=;][\'`\-]?[\/|l*]'),       
        ('heart', r'<3'),   
        ('number', r'[-+]?[.\d]*[\d]+[:,.\d]*')
    ]
    for replacement, regex in token_specification:
        to_tokens = re.sub(regex, replacement, to_tokens)
    return to_tokens

In [11]:
# Check
tokenize_input('https://regexr.com hola / :) <3 :p :(  8888 @justin')

'url hola  /  smile heart lolface sadface  number user'

In [12]:
import string

tweets['text'] = tweets['text'].apply(tokenize_input)
test['text'] = test['text'].apply(tokenize_input)
tweets['text'] = tweets['text'].apply(lambda x: x.translate({ord(i): ' ' for i in string.punctuation}))
test['text'] = test['text'].apply(lambda x: x.translate({ord(i): ' ' for i in string.punctuation}))
tweets['text'] = tweets['text'].apply(lambda x: x.lower())
test['text'] = test['text'].apply(lambda x: x.lower())

In [13]:
# Run for files
#tweets.to_csv('processed_train.csv', index=False)
#test.to_csv('processed_test.csv', index=False)

### Vector encoding

#### Keywords

In [14]:
tweets['keyword'] = tweets['keyword'].fillna('null')
test['keyword'] = test['keyword'].fillna('null')

In [15]:
keyword_tokens = tweets.keyword.unique().tolist()
keyword_test = test.keyword.unique().tolist()

In [16]:
for k in keyword_test:
    if k not in keyword_tokens:
        print(k) # Mismas palabras en ambos sets

In [18]:
embeddings_index = dict()
f = open('glove.6B.100d.txt', encoding='utf8') # Vectores entrenados de 100 dimensiones
for line in f:
    values = line.split()
    word = values[0]
    coefs = np.asarray(values[1:], dtype='float32')
    embeddings_index[word] = coefs
f.close()
print('Loaded %s word vectors.' % len(embeddings_index))

Loaded 400001 word vectors.

In [19]:
vectors = {}
for keyword in keyword_tokens:
    words = keyword.split(' ')
    n = len(words)
    if n == 1:
        vectors[keyword] = embeddings_index[keyword]
    else:
        acum = np.zeros(100)
        for w in words:
            acum = np.sum([acum,embeddings_index[w]] , axis=0)
        vectors[keyword] = acum

In [20]:
keyword_vectors = pd.DataFrame.from_dict(vectors).T.reset_index()
keyword_vectors.head()

,index,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,null,0.079432,-0.14054,-0.104620,-0.362590,-0.22721,-0.13612,0.74755,0.328090,0.54364,...,-1.21230,0.515730,0.16573,0.679430,0.353270,0.17672,0.258030,0.068445,-1.20160,-0.20168
1,ablaze,0.137010,-0.31349,-0.047427,-0.245820,0.76459,1.21330,0.25674,0.446160,1.21040,...,1.42780,-0.402050,-0.26682,-0.029039,-1.102300,0.20442,-0.064528,0.305040,0.42830,0.54531
2,accident,-0.006329,-0.37913,0.409920,-0.003844,-0.81139,-0.67840,0.25995,1.090300,0.60039,...,0.49451,-0.308700,-0.18550,0.714090,0.198860,1.12760,-0.100960,-0.100000,0.21349,-1.24530
3,aftershock,0.136920,1.02570,0.539610,0.275310,-0.91579,0.24287,0.77162,0.025242,0.47416,...,1.23600,0.126510,-0.93994,0.187410,0.712540,0.79876,-0.040149,-0.591220,-0.28051,-0.23293
4,airplane accident,-0.175379,-0.10526,0.977860,-0.001856,-0.93397,-1.15404,0.79570,1.143708,0.94012,...,0.78136,-0.287935,0.23436,0.676289,0.262775,1.53821,-0.300710,-0.089367,0.77883,-2.21178

In [21]:
aux = []
aux.append('keyword')
for i in range (0, 100):
    name = 'k' + str(i)
    aux.append(name)

In [22]:
keyword_vectors.columns = aux
keyword_vectors.head()

,keyword,k0,k1,k2,k3,k4,k5,k6,k7,k8,...,k90,k91,k92,k93,k94,k95,k96,k97,k98,k99
0,null,0.079432,-0.14054,-0.104620,-0.362590,-0.22721,-0.13612,0.74755,0.328090,0.54364,...,-1.21230,0.515730,0.16573,0.679430,0.353270,0.17672,0.258030,0.068445,-1.20160,-0.20168
1,ablaze,0.137010,-0.31349,-0.047427,-0.245820,0.76459,1.21330,0.25674,0.446160,1.21040,...,1.42780,-0.402050,-0.26682,-0.029039,-1.102300,0.20442,-0.064528,0.305040,0.42830,0.54531
2,accident,-0.006329,-0.37913,0.409920,-0.003844,-0.81139,-0.67840,0.25995,1.090300,0.60039,...,0.49451,-0.308700,-0.18550,0.714090,0.198860,1.12760,-0.100960,-0.100000,0.21349,-1.24530
3,aftershock,0.136920,1.02570,0.539610,0.275310,-0.91579,0.24287,0.77162,0.025242,0.47416,...,1.23600,0.126510,-0.93994,0.187410,0.712540,0.79876,-0.040149,-0.591220,-0.28051,-0.23293
4,airplane accident,-0.175379,-0.10526,0.977860,-0.001856,-0.93397,-1.15404,0.79570,1.143708,0.94012,...,0.78136,-0.287935,0.23436,0.676289,0.262775,1.53821,-0.300710,-0.089367,0.77883,-2.21178

In [23]:
keywords_to_merge = tweets.merge(keyword_vectors, how='left').drop(columns=['keyword', 'location', 'text', 'target'])
keywords_to_merge

,id,k0,k1,k2,k3,k4,k5,k6,k7,k8,...,k90,k91,k92,k93,k94,k95,k96,k97,k98,k99
0,1,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
1,4,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
2,5,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
3,6,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
4,7,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7429,10863,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
7430,10864,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
7431,10866,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
7432,10869,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
7433,10873,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168

In [24]:
keywords_merge_test = test.merge(keyword_vectors, how='left').drop(columns=['keyword', 'location', 'text'])
keywords_merge_test

,id,k0,k1,k2,k3,k4,k5,k6,k7,k8,...,k90,k91,k92,k93,k94,k95,k96,k97,k98,k99
0,0,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
1,2,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
2,3,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
3,9,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
4,11,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3258,10861,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
3259,10865,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
3260,10868,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
3261,10874,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168
3262,10875,0.079432,-0.14054,-0.10462,-0.36259,-0.22721,-0.13612,0.74755,0.32809,0.54364,...,-1.2123,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.2016,-0.20168

In [25]:
# Run for files
keywords_to_merge.to_csv('keyword_features.csv', index=False)
keywords_merge_test.to_csv('keyword_test_features.csv', index=False)

### Keywords one hot encoding

In [26]:
tweets

,id,keyword,location,text,target
0,1,null,NaN,our deeds are the reason of this earthquake m...,1
1,4,null,NaN,forest fire near la ronge sask canada,1
2,5,null,NaN,all residents asked to shelter in place are ...,1
3,6,null,NaN,number people receive wildfires evacuation or...,1
4,7,null,NaN,just got sent this photo from ruby alaska as ...,1
...,...,...,...,...,...
7604,10863,null,NaN,worldnews fallen powerlines on gneutralfacein...,1
7605,10864,null,NaN,on the flip side i m at walmart and there is a...,1
7606,10866,null,NaN,suicide bomber kills number in saudi security ...,1
7608,10869,null,NaN,two giant cranes holding a bridge collapse int...,1
7612,10873,null,NaN,the latest more homes razed by northern calif...,1

In [27]:
disaster_list = list(tweets['keyword'].unique())

In [28]:
crash = ['collide', 'collided', 'collision', 'crash', 'crashed', 'wreck', 'wreckage', 'wrecked']

emergency = ['emergency', 'emergency plan']

electricity = ['electrocute', 'electrocuted',]

helpers = ['ambulance', 'police', 'siren', 'sirens', 'emergency services', 'first responders',\
           'stretcher', 'eyewitness', 'rescuers']

panic = ['screamed', 'screaming', 'screams', 'panic', 'mayhem', 'riot', 'rioting', 'fear', 'panicking', 'trauma',\
         'trouble', 'hail', 'pandemonium']

hostages = ['hostage', 'hostages', 'trapped']

quarentine = ['quarantine', 'quarantined']

colapse = ['bridge collapse', 'collapse', 'collapsed', 'demolish', 'demolished', 'demolition', 'structural failure']

accident = ['accident', 'airplane accident', 'derail', 'derailed', 'derailment', 'oil spill']

fire = ['ablaze', 'hellfire', 'smoke', 'wild fires', 'wildfire', 'buildings burning',\
        'buildings on fire', 'burned', 'burning', 'burning buildings', 'bush fires', 'fire',\
        'fire truck', 'flames', 'forest fire', 'forest fires', 'blaze', 'blazing', 'arson', 'arsonist']

nuclear = ['nuclear disaster', 'nuclear reactor', 'radiation emergency', 'meltdown']

explotion = ['explode', 'exploded', 'explosion', 'blown up', 'blew up', 'loud bang']

survivor = ['survive', 'survived', 'rescue', 'rescued', 'survivors', 'evacuate', 'evacuated', 'evacuation', 'refugees']

wounded = ['wounded', 'wounds', 'bleeding', 'bloody', 'injured', 'injuries', 'injury', 'traumatised', 'blood']

bomb = ['suicide bomb', 'suicide bomber', 'suicide bombing', 'bomb', 'bombed', 'bombing', 'detonate', 'detonation']

storm = ['storm', 'thunderstorm', 'thunder', 'rainstorm', 'violent storm', 'windstorm', 'lightning', 'hailstorm']

water = ['flood', 'flooding', 'floods', 'inundated', 'inundation', 'sinking', 'drown', 'drowned', 'drowning', 'sunk']

natural_disaster = ['heat wave','sandstorm', 'seismic' ,'avalanche', 'tsunami', 'twister',\
                    'typhoon',  'tornado', 'hurricane', 'natural disaster', 'cyclone', 'volcano',\
                    'drought', 'dust storm', 'earthquake',  'lava', 'aftershock', 'snowstorm', 'blizzard',\
                    'whirlwind', 'upheaval',  'landslide', 'cliff fall', 'mudslide', 'sinkhole', 'displaced',\
                    'epicentre']

attack = ['attack', 'attacked']

casualties = ['mass murder', 'mass murderer', 'massacre', 'fatal', 'fatalities', 'fatality', 'casualties',\
              'casualty', 'body bag', 'body bagging', 'body bags', 'dead', 'death', 'deaths',  'tragedy']

terrorism = ['terrorism', 'terrorist', 'threat', 'hijack', 'hijacker', 'hijacking', 'bioterror', 'bioterrorism']

destruction = ['destroyed', 'destruction', 'devastated',\
               'devastation', 'disaster', 'annihilated', 'annihilation', 'apocalypse',\
               'armageddon', 'catastrophe', 'catastrophic', 'obliterate', 'obliterated',\
               'obliteration', 'damage', 'destroy', 'desolate', 'desolation', 'blight',\
               'harm', 'hazard', 'hazardous', 'danger', 'ruin', 'engulfed', 'rubble', 'debris',\
               'razed', 'flattened', 'crush', 'crushed']

warlike = ['war zone', 'weapon', 'weapons', 'military', 'army', 'battle', 'outbreak', 'chemical emergency', 'curfew']

starvation = ['famine', 'deluge', 'deluged']


null = ['null']

In [29]:
disasters = {'crash' : crash, 'emergency' : emergency, 'electricity': electricity,\
             'helpers': helpers, 'panic' : panic,  'hostages' : hostages, 'quarentine' : quarentine,\
             'colapse' : colapse, 'accident' : accident, 'fire' : fire,\
             'nuclear' : nuclear, 'explotion' : explotion, 'survivor' : survivor,\
             'wounded' : wounded, 'bomb' : bomb, 'storm' : storm,\
             'water' : water, 'natural_disaster' : natural_disaster, 'attack' : attack,\
             'casualties' : casualties, 'terrorism' : terrorism, 'destruction' : destruction,\
             'warlike' : warlike, 'starvation' : starvation, 'null' : null}

In [30]:
n_categories = len(disasters)
n_categories

25

In [31]:
numeric_maps = {}
count = 0
for k in disasters.keys():
    numeric_maps[k] = count
    count += 1

In [32]:
mapping = {}
for k, v in disasters.items():
    for w in v:
        mapping[w] = k

In [33]:
mapping_df = pd.DataFrame.from_dict(mapping, orient='index').reset_index()
mapping_df.columns = ['keyword', 'group']
numeric_maps_df = pd.DataFrame.from_dict(numeric_maps, orient='index').reset_index()
numeric_maps_df.columns = ['group', 'id']
to_encode = mapping_df.merge(numeric_maps_df)

In [34]:
to_encode

       keyword       group  id
0      collide       crash   0
1     collided       crash   0
2    collision       crash   0
3        crash       crash   0
4      crashed       crash   0
..         ...         ...  ..
217     curfew     warlike  22
218     famine  starvation  23
219     deluge  starvation  23
220    deluged  starvation  23
221       null        null  24

[222 rows x 3 columns]

In [35]:
from sklearn.preprocessing import LabelBinarizer

lb = preprocessing.LabelBinarizer()
lb.fit(range(0, n_categories))

LabelBinarizer()

In [36]:
lb.classes_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [37]:
to_encode['encode'] = list(lb.transform(to_encode['id']))

In [38]:
expanded = to_encode.encode.apply(pd.Series)

In [39]:
result = pd.concat([to_encode, expanded], axis=1, sort=False)

In [40]:
result.drop(columns=['encode', 'id'], inplace=True)

In [41]:
result.head()

,keyword,group,0,1,2,3,4,5,6,7,...,15,16,17,18,19,20,21,22,23,24
0,collide,crash,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,collided,crash,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,collision,crash,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,crash,crash,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,crashed,crash,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
keyword_exp = tweets.loc[:, ['id', 'keyword']]
keyword_exp_test = test.loc[:, ['id', 'keyword']]

In [43]:
merged_train = keyword_exp.merge(result, left_on='keyword', right_on='keyword', how='left')
merged_test = keyword_exp_test.merge(result, left_on='keyword', right_on='keyword', how='left')

In [44]:
merged_train.drop(columns=['keyword', 'group'], inplace=True)
merged_test.drop(columns=['keyword', 'group'], inplace=True)

In [45]:
# Run for file
#merged_train.to_csv('keyword_mapping.csv', index=False)
#merged_test.to_csv('keyword_mapping_test.csv', index=False)

### Location Load

In [46]:
locations = pd.read_csv("../TP1/locations.csv", usecols=['location', 'address', 'point'])
locations.head()

,location,address,point
0,,NaN,NaN
1,glasgow,"Glasgow, Glasgow City, Scotland, G2 9SA, Unite...","(55.8609825, -4.2488787, 0.0)"
2,"melbourne, australia","City of Melbourne, Victoria, Australia","(-37.8142176, 144.9631608, 0.0)"
3,news,"34375, Abbotsford Centre, Abbotsford, Fraser V...","(49.04172215, -122.27255349013137, 0.0)"
4,alberta,"Alberta, Canada","(55.001251, -115.002136, 0.0)"

In [47]:
locations.fillna('null', inplace=True)
empty_loc = locations.loc[0, 'location']
locations.replace(empty_loc, 'null', inplace=True)
locations.head()

,location,address,point
0,null,null,null
1,glasgow,"Glasgow, Glasgow City, Scotland, G2 9SA, Unite...","(55.8609825, -4.2488787, 0.0)"
2,"melbourne, australia","City of Melbourne, Victoria, Australia","(-37.8142176, 144.9631608, 0.0)"
3,news,"34375, Abbotsford Centre, Abbotsford, Fraser V...","(49.04172215, -122.27255349013137, 0.0)"
4,alberta,"Alberta, Canada","(55.001251, -115.002136, 0.0)"

### Coordinates X,Y

In [48]:
tweets['location'] = tweets['location'].fillna('null')
test['location'] = test['location'].fillna('null')

In [49]:
def point_to_list(point):
    if point == 'null':
        return [300.0, 300.0] # Arbitrary large number 
    
    coordinates = []
    aux = point[:]
    row = aux.strip( '()' ).split(',')
    coordinates.append(float(row[0]))
    coordinates.append(float(row[1]))
    return coordinates

In [50]:
locations['point'] = locations.point.apply(point_to_list)

In [51]:
aux = locations.point.apply(pd.Series)
aux.columns = ['x', 'y']

In [52]:
locations['x'] = aux['x']
locations['y'] = aux['y']

In [53]:
locations

,location,address,point,x,y
0,null,null,"[300.0, 300.0]",300.000000,300.000000
1,glasgow,"Glasgow, Glasgow City, Scotland, G2 9SA, Unite...","[55.8609825, -4.2488787]",55.860982,-4.248879
2,"melbourne, australia","City of Melbourne, Victoria, Australia","[-37.8142176, 144.9631608]",-37.814218,144.963161
3,news,"34375, Abbotsford Centre, Abbotsford, Fraser V...","[49.04172215, -122.27255349013137]",49.041722,-122.272553
4,alberta,"Alberta, Canada","[55.001251, -115.002136]",55.001251,-115.002136
...,...,...,...,...,...
2266,zac newsome loves me,null,"[300.0, 300.0]",300.000000,300.000000
2267,"zeerust, south africa","Zeerust, Ngaka Modiri Molema District Municipa...","[-25.537731, 26.074382]",-25.537731,26.074382
2268,zero branco,"Zero Branco, Treviso, Veneto, 31059, Italia","[45.601701, 12.165212]",45.601701,12.165212
2269,ziam af,null,"[300.0, 300.0]",300.000000,300.000000
2270,zimbabwe,Zimbabwe,"[-18.4554963, 29.7468414]",-18.455496,29.746841

In [54]:
tweets['location'] = tweets['location'].apply(str.lower)
test['location'] = test['location'].apply(str.lower)

In [55]:
coordinates_train = tweets.merge(locations.loc[:, ['location', 'x', 'y']], left_on='location', right_on='location', how='left').loc[:, ['id', 'x', 'y']]
coordinates_test = test.merge(locations.loc[:, ['location', 'x', 'y']], left_on='location', right_on='location', how='left').loc[:, ['id', 'x', 'y']]

In [56]:
# Run for file
coordinates_train.to_csv('coordinates_train.csv', index=False)
coordinates_test.to_csv('coordinates_test.csv', index=False)

#### Vectors from words

In [57]:
locations.head()

,location,address,point,x,y
0,null,null,"[300.0, 300.0]",300.000000,300.000000
1,glasgow,"Glasgow, Glasgow City, Scotland, G2 9SA, Unite...","[55.8609825, -4.2488787]",55.860982,-4.248879
2,"melbourne, australia","City of Melbourne, Victoria, Australia","[-37.8142176, 144.9631608]",-37.814218,144.963161
3,news,"34375, Abbotsford Centre, Abbotsford, Fraser V...","[49.04172215, -122.27255349013137]",49.041722,-122.272553
4,alberta,"Alberta, Canada","[55.001251, -115.002136]",55.001251,-115.002136

In [58]:
tweets['location'] = tweets['location'].fillna('null')
test['location'] = test['location'].fillna('null')
tweets['location'] = tweets['location'].str.replace(',','')
test['location'] = test['location'].str.replace(',','')

In [59]:
location_tokens = tweets.location.unique().tolist()
location_test = test.location.unique().tolist()

In [60]:
for k in location_test:
    if k not in location_tokens:
        print(k) # Mismas palabras en ambos sets, jaja no.

niall's place | saf 12 squad |
live on webcam
los angeles califnordia
threeonefive.
whoop ass georgia
scarborough ontario
121 n la salle st suite 500
wandering
homewood pa
bexhill
anime world
cowtown caliii !!
all motorways uk
frankfurt germany
gresham or
las vegas
midland mi
sì£o vicente sì£o paulo
vault 101 fallout
davis ca
in your hearts and minds
runcorn
lake charles la
inland empire ca
muscat
usa - global online sales
istanbul tì_rkiye
high in prague with aya
born on september 1st
new orleans
eileenborutwebster tx
upstate ny
salem ma
high desert
plovdiv bulgaria
rhode island usa
u.s.a.
wayne nj
wheelerwis.
spring lake park mn
dmz az
instagram:marissatunis
akron ohio
currently somewhere on earth
irvine ca
somewhere in the internet...
arlington
1996???????????
northwest
phuket
west covina ca
#capulets #5sosfam #5quadfam
bowling green ky
logansport indiana
rexburg id
west michigan
itunes radio [hiphop/rap]
saginaw mich.
lawrence ks
duo lane
reality based world
3rd terrestrial planet sun
nanaimo bc
san luis obispo california
chi town
indianapolis
my own little world.
twitter
between here and there
revolutionary road usa
lucknow
1937 germany
n.y.c
superior wi
down down baby...sc.
turin
saint andrews scotland
katong plaza #02-10
valusia
seraphim vault cosmodrone
gislaved
usa!
south of boston
baltimore
east texas
springfield tn
jacksonville florida
amsterdam nl or greenwich usa
denverco usa
the forbidden forest
capitol hill washington
fargo nd | north of normal
philippines :)
missoula mt
strathmore california
lithgow nsw australia
north hollywood ca. (socal)
newburgh ny
new bedford ma
paradise
outer rim
bkk
zikko's hq
crawley england
on the net
montrealqc
dublinireland
??????????? :p
mass.
sherbrooke & montrì©al
northeast ohio
outworld
terre haute
psalms 27:1
slytherin /
windy city land of the snakes
35% gay. 65% water.
oh.
cucumber squad | she/her |
8.27.14 & 7.28.15
she/her
texas forever
coos bay or
romans 1:16
your girl's pussy
twitch.tv/dgn_esports
eldora ia
bridgetown barbados
stamford ct
upper dicker england
centre of attention
highlands ranch co
the other side of the mirror
metro detroit
sporting capital of the world
mn |7-18-13|8-27-14|7-26-15|
st. charles mo
sunny florida
that place
qui tacet consentire videtur
edwardsville il
the land of pleasant living
crescent moon w/ wook
st marys oh
305 but i'm so st. louis...
williamsport pa
quezon city national capital region
xix | 5sos | ed sheeran |
             waiheke island
northampton
earthrealm
beacon hills ~ the glade
ig: xbougiebri
scout team
? the foothills of sc ?
somewhere or other
toledo oh
22714 ventura blvd. whills ca
northern scandinavia
salt lake city
dalton
rowlett tx
bloemfontein free state
don't stalk me- thanks
north west
on the island: nassau bahamas
university fl
harlem
wolfgangmuzic@gmail.com
o-town  the left end
botswana gaborone
dirty bay ca
broward miami tally
10 hours from pluto
west monroe louisiana
cleveland
yemen
alexandria va
nyc ?? van
n 51å¡25' 0'' / w 0å¡45' 0''
tinley park il
long beach dublin amsterdam
vi~d[m]v
shibuya tokyo japan
ventura county
jaipur rajasthan
#uniteblue
vernal utah
 birmingham.
jon bellion | luke christopher
these united states
tokyo japan
south east asia
kill devil hills
derbyshire england
somewhere on the earth
saint-petersburg
new york city & mpls/st. paul
minneapolis st. paul minnesota
liverpool england
las baegas
sunshine coast of bc
cin city
us of eh
mighty tempe arizona
ig: 94fijiwater
?arsehole squad?
wherever the music takes me
fallen tx
????????? ?????-?????????
ìït: 41.373061-71.942237
taiz - yemen
new hampshire û¢ wmur
yorkshire and london
kalispell montana
557619
dallas texas
poyth wesssterrrnnoystrayahhh
ecruteak city johto
ann arbor mi
north bellmore ny
hutchinson mn
who fuckin knows
nyc ?? pa
pasadena ca
conover nc
los angeles/ las vegas/ boston
gateway regional hs
daily ? 18 ? ?
tìáchira venezuela
faisalabad
austin texas ontario canada
epic city bb.
sw london (rbk)
san diegohhjhhhhhghghpjg
squ\/d uk
$$$
;)
ellixton london's 33rd borough
ngayogyakarta hadiningrat
san francisco los angeles
arizona usa
canada | #lux
among the socially awkward ?
west hampstead london nw6
paranaque city national capital region
toronto  #6ixsidemafia
jonas/lovato/bieber/5sos
carrboro nc
#bvstrong
blackfield england
cape coral fl
leanbox?
mechanicsville va
edmonton
www.facebook.com/randirobics
? in your head ?
hyejeong?taehyung
emirate
twin cities mn
kampala uganda
narbin city
leeds england united kingdom
burger king with usher
greece
batam
cramerton nc
san antone
(queer trans he/him black)
eugene or.
everywhere usa
tampa bay
sending rude things to heather
conway ar
ham ham clubhouse
luisa's heart
lehigh acres fl
#izzoworld
capital federal argentina
inequity  is  injustice || nj
wellington fl
parkway ca
ppcc
the open road!
the new way to surf!
ponyvilleequestria
highway to hell
indian trail north carolina
kentucky
pleasantville ny
arlington va (dc area)
swat pakistan
edinburgh/ west yorkshire
?illinois?
dreamville | hoolagan
mnl philippines
lawn pa
nopa san francisco
war drobe spare oom
motown wv
fredericton nb
downriver.
ottawa on canada
house of el
piscataway nj
fl/nj
hodesto cuntlifornia
jammu kashmir
lufkin.texasusa
mississauga
ohio land of no sun
nor cal
770 to benedict college
isabel beatriz paras de leon
waraq
winchester uk
comox valley courtenay bc
sittwe
seoul republic of korea
vineland nj usa
mansfield ohio
downtown new york
toronto ontario canada
queens
bgsu
buzz city
in outer space
trujillo peru
huntington beach ca
leeds
n 32å¡39' 0'' / w 97å¡16' 0''
brinscall england
it was yesterday :(
monaghan ireland
dancer - peter pan panto 2015
my world
65 skelmersdale lane
wolverhampton low hill
bristol
colwyn bay wales
death city nevada
manchesterengland
in my baby with pie
ico arkansas
prague cz the planet of fans
uae
georgetownguyana
elko nevada
rochester minnesota
eastbourne east sussex
uk.
calabasas ca
montana
south wairarapa/wellington
hartford ct
west powelton philadelphia
republic of harper
aragua
'schland
venice sweden
camberville (bostonish)
nr great missenden bucks
southend-on-sea england
garland texas
your backyard
htx innerverse
pridelands in
connecticut usa
ankeny
hiding in a cardboard box.
melbourne vic australia
bolton england
to your chosen destination
carthage oh
cyberspace
wherever the #sooners are
cheltenham
w/ @_ridabot probably
accrington lancashire
washington dc and on planes
dc & moco
district of columbia usa
pg
waterloo ontario canada
woodbridge va
/ kattappana kerala
twin falls idaho 83301
michigander usa
from harlem to duke !
cardiff/london/nyc/warwick
outreach africa
usawashingtonseattle
lanì¼s
quezon city
#global
phoenix az
between manchester and lille.
globetrotter
raleigh
curitiba-pr
|elsmere| wilmington de.
at grandmother willow's
festaclagosnigeria
cape town south africa
@argentinaliars ?| willbradley
dunedin new zealand
norton
l.a
north korea
hounslow london
lake worth fl
the floor
piedmont ca
the interwebs!
nashville music city usa
amsterdam worldwide
detroit mi
texas hill country
morioh japan
d.c.
 aomori
boulder via dc
palacio madrid
shlomotion
poughkeepsie ny
please follow and rt! :)
dam squad 4 lyf
astral plane
south wales valleys
toronto û¢ unicorn island
wherever wolf blitzer is
polska
fort worth tx
espaì±a/catalunya/girona
greer sc
kansas usa
ottawa
crying
uitm shah alam
nyc/li/nj/lhv
pedophile hunting ground
magodo
beaumont texas
cary north carolina
san gabriel valley ca
windsor ??ct
portugal-spain-indonesia
hustle flow nation
rock hill  sc
#name?
under ya skin
land-where-everything-sucks
england uk
my own little corner
3-jan
east coast
manhattan new york
east carolina university'19 ??
bogotìá colombia
chillin
id where potatoes grow
fema region 2
almonds
ex astris scientia. tssadid.
johnstown ny
doo doo boy island
real world
130515 û¢ gallavich.
bangaloreindia
pico rivera ca
playing: hl2: ep1 dust: aet
mtl
east la mirada ca
jeddah makkah al mukarrama
do not follow me am i a bot.
bay area california
rocky mountains colorado
san bernardo - chile
duel academia
   manchester/nantwich
under the rain...
clearlake
twitter.
beyond time and space
jds
milan lombardy
metro lampung ~ balikpapan
bieber fever uk
32935
301|804
gap
stone ridge va
staffordshire
central #ohio
hayling
mullingar ireland
nap town
south park  ??????????????????
isle of patmos
modesto ca
ton's ì¡ead town åè tx
ocsf
paonia colorado
tampa florida
the great white north
fishkill ny
in erotic world
lismore new south wales
sunny south africa
greenwich london
lansing mi usa
#viewsaremyown #ibacktheblue
antioch ca
issaquah wa
bodmin cornwall
hagerstown md 21742
?? | pittsburgh
berkeley ca 94703 usa ?
west baltimore
hollywood california
sydney - australia
az ? tx ? ca ? il ?
kurdistan
foothills
she/her? û¢ tr û¢ jordan
oregon & sw washington
seattle/snohomish/redlands
grand rapids mich.
state of jefferson
auckland nz
chicagoland and the world!
everywhere..
on canada
west palm beach fl
the dalles oregon
edmonton alberta canada
pea ridge wv
sam
~always in motion~
redding
concord north carolina
alexander iowa
ìït: 39.168519-119.766123
ittihad .f.c
canaduh
ìth cliath ìäire
my house probably
lost angeles lol
youtube channel
free palestine | save gaza
land of the free
be earth
west virginia
hudson valleyny
blog
punjab pakistan
kyiv (kiev) ukraine (???? ???? ???????)
somewhere in time
dublin ireland.
kyiv. ukraine
cincinnati
gurgaon
nj amerikkka
baroda
greenville sc
vh1 soul in a bet world
sericita minas gerais
bobba island
mainer missing guatemala
planet earth (mainly) #neuland
amosquebeccanada
??????????
windsor on canada
garbage disposal bc im trash
sherman ave south bronx #stf
free hanseatic city of bremen germany
a pool of my own tears
san jose state university
outerspace
sea of green
san antonio
lakeland fl
wonderland
tulsa
lampe mo
fredericksburg va
indianapolis indiana
columbia mo
stuck in traffic
serving oklahoma
from boston for new england
goldsboro nc
nevada
hull ma
cedar city utah
live from the low end
little rock
bestatriz û¢29/4 û¢ #askdemigod
fargo nd
here there & everywhere..
support all girls!
swansea
derbyshire
hawkes bay new zealand
salford greater manchester
whitley bay england
worldwalking
hermiston oregon
desloge mo
yakima wa
36702 state road 52 dade city
miami - support navy #seals
montana misery
 elizabeth nj
guayaquil ecuador
brooksville florida
forest grove or
babylon up-on hudson
west coast
muskegon mi
panama city beach florida
kruibeke belgiìç
sales specialist~ worldwide
stgo chile
qwuank
townsville
ontario ca
british columbia
st louis
rapid city & the black hills
bending the elements.
north east america
sudbury
calgary
golden british columbia canada
calgary and usa
blue nation naija
hamptonroads virginia
karma
mystic falls
oro valley az
android land
dark night. ???? ??
el cerrito ca
sunderland/the saaf
mobile al
minnesota
yellowknife nt canada
for a healthier happier you!
vb/norfolkva
rahway nj
stockport uk
deerfield beach florida
milan italy
chibavery close to tokyo.
beal feirste northern ireland
out and about
in my head.....
delta nigeria
uk & oversees
???/??
????? ?? ?????? -????? ????
#hdynation
saint petersburg fl
over the hills and far away
roermond
amman
california central valley
the court of public opinion.
chinade nigeria
http://wingssilverwork.com
darwins au
moncton nb
 way way way up ??
limerick ireland.
long island new york
lahore pakistan
niels groeneveld / redsocks
behavioral analysis unit (bau)
 cairo
brentwood uk
hubli karnataka
my usa åµ???? ?aìù?
melbs 1/2 #rham
astoria ny
tuscumbia al
ms
tacompton washington
south africa braamfontein
the north coast
united states ohio
nj ?? az
richmond va usa
| india |
pune
chapel hill cary n.c.
glendale az
covering the u.s.a.
fantasy land
kibworth beauchamp england
3/12 + jake miller
www.dorsavi.com
all round the world
bellingham wa
searching for rivendell
shrewsbury england
groìùdeutsches reich
beijingchina
release the reis
that london
#roshanpakistan
wickford
central new jersey
shangri-la
morgantown wv
upper st. clair
trinity nc
budgam kashmir
somewhere over the rainbow
northwest arkansas
staten island ny
nwa & river valley
winston salem nc
nashville tenn.
in your dreams
santa cruz
raleigh north carolina usa
the three broomsticks
17 year old anti-theist.
albany western australia
the real world
islamabad pakistan
pedophilia
reaching for the stars
still on my laptop
fukushima japan
los angeles via pittsburgh
university of maryland
santos sì£o paulo
house of the rising sun
@keytnc3 @kcoy
wales cymru
perth scotland
sweizyland
ohio...yep we said it.
dili. east timor
the woodlands tx
central jersey
boston/ny/montreal/london
iowa
wouldn't u like to know
north vernon in
manisto trap house
st. catherine jamaica w.i.
tuksa ok
fl.co.hi.nj
princetonave
west coast canada
syracuse ny
boca raton fl
merseyside
kocaeli-izmit
laporte in
tarn et garonne/lot et garonne
1/11 numberjacks squad
sandbach cheshire uk
ìït: 58.193556-5.334943
st albans
california most of the time
nepal
bishop amat
canberra (mostly)
u.a.e.
modishthaan
washington dc area
interwebs
thessaloniki greece
almost there
japan
 stah-koomi-tapii-akii
brussels
tokio / tokyo
haifa israel
washington dc region
head of the family
lemon grove ca
orlando fl
cape coral fl usa
denver|boulder|ft. collins co
trashcan somewhere in hell
 ? they/them ?
bucks
rhyming
nanda parbat
mia
lastlevelpress.com
metropolis tx
uchiha
nigeriawest african
the best side of middlesbrough
port townsend wa
u.s.a.
knoxville tn usa
virginia (usa)
utopia
arlington

dallas
lagosnigeria
lnd greatest city in the world
loreto college mullingar
jabalpur
nigeria|| lagos
sad
st. louie
louisiana the real la
they/them or she/her
north devon uk
italia
omaha neblastya
home is wherever i am
9.25.14?8.5.15?10.6.15 | gen?
bedford
wolverhampton
philadelphia & worldwide
uganda l africa l worldwide.
colorado the mile high city
2014.02.14~ing
milano
johnson county kansas
#bitcoinland
mumbai  india
ìït: 41.106046-80.657836
springfield mo
someplace safe
pretoria south africa
?x??p = ?/2
morganton ga
salem or
nipple squad makes me happy
secane pa
keffi
kent united kingdom
banner elk nc
south east florida
harare
kaneville
try looking at the map?
digitosphere
university of alabama
kansas  ks
toulouse haute-garonne france
hannover
shellharbour wollongong
lbtidronegirlshell
europa
chillicothe oh
lexington ky
 kaijo high school
summerside
niger state
burnley lancashire
pembroke dock wales
bath england
ìït: 50.953278-113.978785
rome it
los angeles ca 90045
orange county california
9 benua ltd.
ìït: 7.3845593.8793718
manadosulawesi utara
wakefield england
#sundaunited
go bucks!
cali
tri-state
#dcjacobin
davis
å©hicago
portland
uberlì¢ndia - mg - brasil
diantara temlen laksani
huston texas 1-844-360-wise
west coast
management multimedia
globally 1-844-360-wise
55 wall street
teen top ? jongsuk ? exo ? bts
in ma daddy nd mummy's. hart..
albequerque
monroe oh
bang bang bang
west midlands england
warning: i tweet nsfw and nsfl
quantico
hollandmi
fairly local
started acc 1.9.15 2:25 pm
she/her û¢ 19 û¢ poland
rice lake wi/toronto on
trust none..
atlanta ga (kind of)
ireland
with my music and air heads
honeymoon tour 03.26.15?
hype ressha hype ressha
trapin'
moon
#allblacklivesmatter
north druid hills ga
stars/pens/caps/hawks
in a multi-fandom
malta; gozo
kanto japan
mombasa
university of oklahoma
georgia/florida
london / herts
maryland/myrtle beach ccu'19
#teamhkngang
palm spraangs
berisso argentina
texas united states
62
atrapada en el mundo.
probably bargos
moreno city - buenos aires
salem oregon
franklinton - br - houston
roseland
barnsley
il?mi
your mom

bliss
@rejxctedmgc is my harry?
ig: j.nessaa
nj usa
the land of make believe
saint john n.b canada
northeast united states
new england ????
florence sc
sunmy melbourne england
424 n. fairfax ave. 90036
fairbanks alaska
where is my mind?
north coast of o-h-i-o
oman
blf (mp)/ pta (gp)/ phb(limps)
bedford stuyvesant brooklyn
sp - brasil #1
lakerland
utica  new york (upstate)
washington dc an airport
st.louis
stone mountain ga
virginia beach va usa
burbank ca
fano (italy)
swaggdad irock
lagos  usa
seek for light today!!!
london/lagos
yesnaija.com
netherverse
vienna austria europe
sussex uk
{daughter of ares} {eighteen}
tweets by david
vine: woah stelena
  ?becky?chloe?
st. catharines
sarah's dreads
kearney (area) nebraska
???û¢???û¢s??û¢????û¢????????s
m a a l k
6/24/12 7/21/13 8/22/14 7/17/15
portsmouth
behind them oranges
london.
paddington london
uncanny valley
gornal - england
eugene or
keeper of the triforce
cardiff
carlow ireland
bangkok thailand.
sdf-1 macross s. ataria island
santibaì±ez de vidriales zamora
temple ga
last legs new zealand
greater boston area
udaipur
                           fla
citizen of the world
(socal)
kurnool
tampa bay. fire the cannons
lagos nigeria.
patna
bharat.
portland oregon usa
phx az
@kiarakardashhh | fayetteville
michigan ?? south carolina
journey
ny || ga
red deer alberta canada
okc
lake hefner bike trail
cambridge
finland
florence south carolina
336
ìït: 35.353272-78.553744
mumbai india.
any town usa
riverwest milw
bucky barnes hell
sì©te france (foto c.1968)
berkeley ca
sheeps clothing
jefferson ga
namma bengaluru
instagram- joeyparmenterr
ur baq
a glass case of emotions
n.e.ohio
austintx
brooklyn ny and norfolk va
s.p.brasil
53.337853-6.288693
makoharu hell
time for non violent dissent!
halifax nova scotia canada
bideford england
unauthentically british uk
free and democratic britain
southeast michigan (hoth)
city of bacoor calabarzon phl
seattie
lawrence ma
lansing ?? ypsilanti
kansas
rest easy angel @datboiiharri.
siuc | 618
okinawa
http://t.co/moy6lmu
quezon philippines
boca raton
flat rock
bengaluru india
id
bhubaneswar
no
andhra pradesh india
surrey bc
bentonville arkansas
philadelphia; world war i
shanatic/ggian/srkian
harvard square cambridge ma
greater vancouver british columbia
herbville
richmond va & bristow va
algonquin il
worcester
sawangan 1 central java
baker louisiana
enemy of the state
baltimore maryland
wellington city new zealand
mds af ?
canton ohio
in range
sky's the limit (b.i.g) ????
monroela
pnw
????????
pune maharashtra india
?orth sg.
garrus?
sheffield.?
northwest jersey
yyc
north tonawanda ny
where e'er the mood takes me
montana/north carolina
frm jerz living in dade county
brantford ontario
tucson arizona
west virginia
408 n. western wenatchee wa
28.709672-97.376514
pasadena tx
?? newport  ri ??
chicago illinois
mii facebook
southern cali
626 - 702
gauteng heidelbergratanda
back of the beyond lesotho
clt via nola via mo via mn
the beautiful northwest (usa)
washington d.c. / istanbul
vancouver
k-town

#kashmir
sam's town
probably in hell
st. petersburg. fla.
inwood ontario
would rather be in my room
philippians 4:13
our galaxy
sunny southern california
plymouth england
deep in the heart of libland
canadaontario
love reiss
acey mountain islanddåçtorontoåè
brussels belgium

In [68]:
embeddings_index = dict()
f = open('glove.6B.100d.txt', encoding='utf8') # Vectores entrenados de 100 dimensiones
for line in f:
    values = line.split()
    word = values[0]
    coefs = np.asarray(values[1:], dtype='float32')
    embeddings_index[word] = coefs
f.close()
print('Loaded %s word vectors.' % len(embeddings_index))

Loaded 400001 word vectors.

In [69]:
vectors = {}
for location in location_tokens:
    words = location.split(' ')
    n = len(words)
    try:
        if n == 1:
            vectors[location] = embeddings_index[location]
        else:
            acum = np.zeros(100)
            for w in words:
                acum = np.sum([acum,embeddings_index[w]] , axis=0)
    except KeyError:
        continue
        vectors[location] = acum

In [70]:
location_vectors = pd.DataFrame.from_dict(vectors).T.reset_index()
location_vectors.head()

,index,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,null,0.079432,-0.14054,-0.10462,-0.36259,-0.227210,-0.13612,0.74755,0.32809,0.54364,...,-1.21230,0.515730,0.16573,0.67943,0.353270,0.176720,0.25803,0.068445,-1.20160,-0.20168
1,birmingham,0.473340,0.28810,-0.40206,-0.76942,0.505650,0.56655,0.15756,0.28222,-0.63076,...,-0.45335,-0.588940,0.10209,1.43720,-0.396420,0.050214,0.57303,0.742570,0.65308,-0.56826
2,africa,-0.286410,0.84050,1.11780,0.18766,0.073111,-0.24262,0.12002,0.90520,-0.77801,...,0.18550,-0.019433,0.64313,-0.22149,-0.372510,0.586410,-0.80282,-0.227080,0.29665,0.20128
3,pretoria,-0.100460,-0.44136,0.66512,0.27777,-0.599210,0.29228,0.18710,1.24120,-0.70815,...,0.51562,-0.461100,-0.13979,0.35418,-0.058125,0.664700,-0.38143,0.084048,0.42608,0.40040
4,india,-0.959670,0.30795,0.90052,1.03640,0.003491,-0.80758,-1.13900,0.81109,-0.67857,...,0.25884,-0.194630,-0.27582,-0.70492,-0.694540,0.706240,0.22830,0.081052,0.13510,0.14388

In [71]:
aux = []
aux.append('location')
for i in range (0, 100):
    name = 'l' + str(i)
    aux.append(name)

In [72]:
location_vectors.columns = aux
location_vectors.head()

,location,l0,l1,l2,l3,l4,l5,l6,l7,l8,...,l90,l91,l92,l93,l94,l95,l96,l97,l98,l99
0,null,0.079432,-0.14054,-0.10462,-0.36259,-0.227210,-0.13612,0.74755,0.32809,0.54364,...,-1.21230,0.515730,0.16573,0.67943,0.353270,0.176720,0.25803,0.068445,-1.20160,-0.20168
1,birmingham,0.473340,0.28810,-0.40206,-0.76942,0.505650,0.56655,0.15756,0.28222,-0.63076,...,-0.45335,-0.588940,0.10209,1.43720,-0.396420,0.050214,0.57303,0.742570,0.65308,-0.56826
2,africa,-0.286410,0.84050,1.11780,0.18766,0.073111,-0.24262,0.12002,0.90520,-0.77801,...,0.18550,-0.019433,0.64313,-0.22149,-0.372510,0.586410,-0.80282,-0.227080,0.29665,0.20128
3,pretoria,-0.100460,-0.44136,0.66512,0.27777,-0.599210,0.29228,0.18710,1.24120,-0.70815,...,0.51562,-0.461100,-0.13979,0.35418,-0.058125,0.664700,-0.38143,0.084048,0.42608,0.40040
4,india,-0.959670,0.30795,0.90052,1.03640,0.003491,-0.80758,-1.13900,0.81109,-0.67857,...,0.25884,-0.194630,-0.27582,-0.70492,-0.694540,0.706240,0.22830,0.081052,0.13510,0.14388

In [73]:
locations_to_merge = tweets.merge(location_vectors, on='location', how = 'outer')#.drop(columns=['keyword', 'location', 'text', 'target'])
locations_to_merge

,id,keyword,location,text,target,l0,l1,l2,l3,l4,...,l90,l91,l92,l93,l94,l95,l96,l97,l98,l99
0,1,null,null,our deeds are the reason of this earthquake m...,1,0.079432,-0.14054,-0.10462,-0.362590,-0.22721,...,-1.21230,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.20160,-0.20168
1,4,null,null,forest fire near la ronge sask canada,1,0.079432,-0.14054,-0.10462,-0.362590,-0.22721,...,-1.21230,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.20160,-0.20168
2,5,null,null,all residents asked to shelter in place are ...,1,0.079432,-0.14054,-0.10462,-0.362590,-0.22721,...,-1.21230,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.20160,-0.20168
3,6,null,null,number people receive wildfires evacuation or...,1,0.079432,-0.14054,-0.10462,-0.362590,-0.22721,...,-1.21230,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.20160,-0.20168
4,7,null,null,just got sent this photo from ruby alaska as ...,1,0.079432,-0.14054,-0.10462,-0.362590,-0.22721,...,-1.21230,0.51573,0.16573,0.67943,0.35327,0.17672,0.25803,0.068445,-1.20160,-0.20168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7429,10822,wrecked,glasgow,user see u the night wee barra to get absolute...,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7430,10824,wrecked,denton texas,had an awesome time gettin wrecked at bowling ...,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7431,10829,wrecked,#newcastleupontyne #uk,user he s gone you can relax i thought t...,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7432,10832,wrecked,london,fx forex trading cramer iger s number word...,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7433,10833,wrecked,lincoln,user great atmosphere at the british lion gig ...,0,0.025206,0.46574,-0.15421,-0.071269,0.47114,...,-0.05322,-0.46613,0.44270,0.96169,-1.06060,-0.30270,0.32299,0.289500,0.26598,-0.30889

In [74]:
locations_test_merge = test.merge(location_vectors, how='left').drop(columns=['keyword', 'location', 'text'])

In [75]:
locations_to_merge.to_csv('locations_vectors_train.csv', index = False)
locations_test_merge.to_csv('locations_vectors_test.csv', index = False)

### Merge all things

In [87]:
train_w_features = pd.read_csv('../TP2/train_features.csv')
test_w_features = pd.read_csv('../TP2/test_features.csv')
keyword_features = pd.read_csv('../TP2/keyword_features.csv')
keyword_test_features = pd.read_csv('../TP2/keyword_test_features.csv')
train_processed_text = pd.read_csv('../TP2/processed_train.csv')
test_processed_text = pd.read_csv('../TP2/processed_test.csv')
location_train_xy = pd.read_csv('../TP2/coordinates_train.csv')
location_test_xy = pd.read_csv('../TP2/coordinates_test.csv')
location_train_vectors = pd.read_csv('../TP2/locations_vectors_train.csv')
location_test_vectors = pd.read_csv('../TP2/locations_vectors_test.csv')

train_w_features.insert(3,'target',train_processed_text['target'])
train_features_and_kw = train_w_features.merge(keyword_features, on='id')
train_features_and_kw.insert(3,'processed_text', train_processed_text['text'])

test_features_and_kw = test_w_features.merge(keyword_test_features, on='id')
test_features_and_kw.insert(3,'processed_text', test_processed_text['text'])

train_features_and_kw['text_without_stopwords'] = train_features_and_kw['text_without_stopwords'].fillna('')
test_features_and_kw['text_without_stopwords'] = test_features_and_kw['text_without_stopwords'].fillna('')

locations_train = location_train_xy.merge(location_train_vectors, on = 'id')
locations_test = location_test_xy.merge(location_test_vectors, on = 'id')

train_complete = train_features_and_kw.merge(locations_train, on = 'id')
test_complete = test_features_and_kw.merge(locations_test, on = 'id')

In [88]:
train_complete['x'] = train_complete['x'].fillna(300.0)
test_complete['x'] = test_complete['x'].fillna(300.0)
train_complete['y'] = train_complete['y'].fillna(300.0)
test_complete['y'] = test_complete['y'].fillna(300.0)

In [89]:
i = 0
loc_values = locations_train.loc[0,'l0':].to_list()
for column in train_complete.loc[:,'l0':].columns:
    train_complete[column] = train_complete[column].fillna(loc_values[i])
    i+=1

In [90]:
j = 0
loc_values2 = locations_test.loc[0,'l0':].to_list()
for column in test_complete.loc[:,'l0':].columns:
    test_complete[column] = test_complete[column].fillna(loc_values2[j])
    j+=1

In [91]:
train_complete.drop(columns=['text_x', 'text_without_stopwords', 'processed_text','target_x', 'keyword', 'location', 'text_y', 'target_y'], inplace=True)
test_complete.drop(columns=['text_without_stopwords', 'processed_text'], inplace=True)

In [94]:
train_complete.to_csv('train_complete.csv', index = False)
test_complete.to_csv('test_complete.csv', index = False)